#navmenu {
    border-bottom-color: white;
    border-bottom-style: solid;
    border-bottom-width: 2px;
   }


#img1 { 

 
    max-width: 100%;
    max-height: 100%;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
    margin-top: 70px;
}

.minha-div {
    height: 250px;
    width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
    
}

#carouselExampleSlidesOnly
{
    height: 70%;
    width: 85%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 58px;
}


h1 {
    text-align: center;
    color: #9966CC;
    color: silver;
    font-size: 15pt;
    Font-variant: small-caps;
    font-family: 'Old Standard TT', serif;
    font-weight: 400;
    line-height: 1.5;

    
  }